.basket
{
    background-color: $tertiary-color;
    width: 90%;
    height: 100px;
    margin-top: 5%;
    display: flex;
    @include pageMargin;
    &__img
    {
        object-fit: cover;
        width: 20%;
        height: 100%;
    }
    &__description
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
    }
    &__quantity
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
    }

}