#form
{
    @include pageMargin;
    input 
    {
        color:darken($tertiary-color, $amount:55);
        background-color: darken($tertiary-color, $amount:10);
        border: none; 
    }
    button 
    {
        width: 75px;
        height: 30px;
        color:darken($tertiary-color, $amount:55);
        background-color: darken($tertiary-color, $amount:10);
        border: none;
        &:hover
        {
            cursor: pointer;
            transform: scale(1.03);
            transition: 0.5s;
        }
        &:active
        {
            transform: scale(0.97);
            color:darken($tertiary-color, $amount:10);
            background-color: darken($tertiary-color, $amount:55);
            transition: 0.1s;
        }
    }
}

