#total {
  background-color: $tertiary-color;
  width: 90%;
  height: 100px;
  margin-top: 5%;
  display: flex;
  @include itemCenter;
  @include pageMargin;
  @include screen-desktop {
    margin-top: 1%;
  }
}
